@using Modas.Models
@using Modas.Models.PageModels
@model EventListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2dd971e983.js" crossorigin="anonymous"></script>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3><i class="fa fa-home"></i> Home</h3>

        <table class="container table table-bordered">
            <tr><th class="text-center">Flag</th><th>Date</th><th>Time</th><th>Location</th></tr>
            @foreach (var e in Model.Events)
            {
            <tr>
                <td class="text-center">
                    <i data-id="@e.EventId" data-checked="@e.Flagged.ToString().ToLower()" class="@(e.Flagged ? "fas" : "far") fa-flag fa-lg flag"></i>
                </td>
                <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
                <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
                <td>@e.Location.Name</td>
            </tr>
            }
        </table>
        <div class="row mb-3">
            <div class="col">
                <button disabled id="first" class="btn btn-outline-secondary" type="button" data-page="1"><i class="fas fa-angle-double-left"></i><span class="d-none d-md-inline"> First</span></button>
                <button disabled id="prev" class="btn btn-outline-secondary" type="button" data-page="@(Model.PageInfo.PreviousPage)"><i class="fas fa-angle-left"></i><span class="d-none d-md-inline"> Prev</span></button>
            </div>
            <div class="col text-center text-secondary">
                <span id="start">@(Model.PageInfo.RangeStart)</span>-<span id="end">@(Model.PageInfo.RangeEnd)</span>
                of
                <span id="total">@(Model.PageInfo.TotalItems)</span>
            </div>
            <div class="col text-right">
                <button disabled id="next" class="btn btn-outline-secondary" type="button" data-page="@(Model.PageInfo.NextPage)"><span class="d-none d-md-inline">Next </span><i class="fas fa-angle-right"></i></button>
                <button disabled id="last" class="btn btn-outline-secondary" data-page="@(Model.PageInfo.TotalPages)"><span class="d-none d-md-inline">Last </span><i class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/main.js"></script>